<div class="space"></div>
    <div class="wrapper">
        
        <header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="box">
                        <h1 class="animate__bounceIn">Blog</h1>
                        <div class="sml-divide"></div>
                        <ul class="icons animate__bounceIn">
                            <li><a href="{{ site.baseurl }}/index.html"><i class="icofont-home"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
