<div class="wrapper">
        <header>
            <div class="row">
<!--
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="animate__animated animate__fadeIn">
                        <div class="box">
                           
                        </div>
                        <a href="{{ site.baseurl }}/index.html" class="hvr-grow"></a>
                    </div>
                </div>
-->
                
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <div class="box">
                         <h1 class="site-title">Judia Krakowski</h1>
                         <p class="site-description">&#42;Closed to New Projects&#42;</p>
                     </div>
                </div>
                
<!--
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                     <div class="box">
                         <ul class="icons animate__bounceIn">
                            <li><a href="{{ "/blog" | prepend: site.baseurl }}" class="hvr-grow">Read the Blog</a></li>
                        </ul>
                    </div>
                </div>
-->

            </div>
        </header>
