<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
    
<!--    <link rel="stylesheet" href="{{ site.url }}assets/css/main.scss">-->
    <link rel="stylesheet" href="{{ site.baseurl }} /assets/css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/lge6uer.css">

    
    <title>J.V Krakowski | {{ page.title }}</title>
</head>