
        <header>
            <div class="row">

                 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                         <a href="{{ site.url}}/faqs"><i class="icofont-question-circle" style="background: none; color: #ffffff; font-size: 28px"></i></a>

                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                        <a href="{{ site.url}}/blog"><i class="icofont-read-book" style="background: none; color: #ffffff; float: right; font-size: 28px;"></i></a>



               </div>

            </div>

            <div class="row around-xs" style="text-align: center;">

              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="box-social">
                  <a href="https://www.linkedin.com/in/jvkrakowski/" class="hvr-grow" target="_blank"><i class="icofont-linkedin"></i></a>
                </div>
              </div>

              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div class="box-social">
                  <a href="https://twitter.com/jvkrakowski/" class="hvr-grow" target="_blank"><i class="icofont-twitter"></i></a>
                </div>
              </div>

              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="box-social">
                  <a href="{{ site.url }}"><img src="../assets/img/judia.jpg" class="prof"/></a>
                  </div>
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-social">
                    <a href="https://github.com/jvkrakowski" class="hvr-grow" target="_blank"><i class="icofont-github"></i></a>
                  </div>
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-social">
                    <a href="mailto:krakowski.jv@gmail.com" target="_blank" class="hvr-grow"><i class="icofont-envelope"></i></a>
                  </div>
                </div>
                    
              </div>
        </header>
