<div class="wrapper">
        <header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="animate__animated animate__fadeIn">
                        <h1 class="site-title">Judia Krakowski</h1>.
                        <!-- <a href="{{ site.baseurl }}/index.html" class="hvr-grow"></a> -->
                    </div>
                    <!-- <div class="divide"></div> -->
                </div>
                
                 <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="icons animate__bounceIn">
                        <li><a href="{{ "/blog" | prepend: site.baseurl }}" class="hvr-grow"><i class="icofont-magician-hat"></i>&nbsp;Blog</a></li>
                    </ul>
                </div>  -->

            </div>
        </header>
