<div class="space"></div>
    <div class="wrapper">
        
        <header>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="box">
                        <h1 class="blog-title">{{ page.title }}</h1>
                        <time>{{ page.date | date: "%b %-d, %Y" }}</time>
<!--
                        <ul class="icons animate__bounceIn">
                            <li><a href="{{ site.baseurl }}/index.html"><i class="icofont-home"></i></a></li>
                        </ul>
-->
                    </div>
                </div>
            </div>
        </header>
