/* Tinker
* Created By: J.V Krakowski
* github.com/jvkrakowski/tinker
* Liscense: MIT License
*
* TABLE OF CONTENTS
* Basics
* Contiainer, Section and Wrapper
* Divides
* Header
* Footer
* Typography
** Paragraph
** Lists
** Pre and Code
** Dictionary
** Table
** Typography Alignment
* Blog
* Images
* Progress
* Links
* Navigation
* Row
* Column Reverse
* Column XS
* Column XS Offset
* XS Position
* Column Small - For screens with a minimum width of 768px
* Column Medium - For screens with a minimum width of 992px
* Column Large - For screens with a minimum width of 1200px
*/

$dark: #0D0D0D;
$light: #F0F0F2;
$white: #ffffff;

.animate__fadeIn {
    --animate-duration: 1600ms;
    --animate-delay: 30s;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  // padding-bottom: 15px;
}


/* Basics */

html {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    background: $white;
    height: 100%;

}

/* Container, Section and Wrapper */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
}

section {
    padding-top: 1rem;
    // margin-bottom: 1rem;
}

.container section {
    margin: .6rem;
}

.wrapper {
    width: 65%;
    max-width: 930px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 2rem;
    position: relative;
}

.box {
    padding: 25px;
    margin: 16px;
    margin-bottom: 35px;
}

#highlight {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,e3e3e3+50,e3e3e3+100,e0eff9+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #e3e3e3 50%, #e3e3e3 100%, #e0eff9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#e3e3e3 50%,#e3e3e3 100%,#e0eff9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#e3e3e3 50%,#e3e3e3 100%,#e0eff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */

}

.highlight-box {
  background: #F0F0F2;
  padding: 10px;
  margin: 16px;
  // position: relative;
  // bottom: 30px;
  height: 114px;
  overflow: hidden;
}

.post-box {
  background: #F0F0F2;
  padding: 10px;
  margin: 16px;
  // position: relative;
  // bottom: 30px;
  min-height: 114px;
  overflow: hidden;
}

img.fsu {
  margin: 0 auto;
  display: block;
  height: 90%;
  width: auto;
}

p.info {
  font-size: 1.2em;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  text-align: center;
}

span.category {
  margin-left: 15px;
  font-size: 12px;
  vertical-align: middle;
}

.special {
    background: white;
    min-height: 300px;
}

.special-blog {
    background: white;
    min-height: 120px;
}

.special h2 {
  margin: 0;
  font-size: 1.5em;
  padding: 0;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 3px solid #0d0d0d;
}

time {
  font-size: 1.5em;
}

.post-info time {
  font-size: 1em;
}

.faq {
  padding: 0;
}

.content-background {
  background: #E3E3E3;
  // padding: 25px;
}

.search-container {
  min-height: 550px;
}

ul.results-container {
  background: white;
}

ul.results-container li {
  margin: 0;
  padding: 15px 0 15px 0;
  list-style-type: none;
}

.search-input {
  width: 60%;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

a.search-button {
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 17px 0;
  width: 100px;
  color: #0d0d0d !important;
  font-size: 1.5em;
}

/* Divides */

.space {
    height: 120px;
    width: 90%;
    clear: both;
}

.divide {
    height: 50px;
    width: 90%;
    clear: both;
}

.sml-divide {
    height: 10px;
    width: 90%;
    clear: both;
}

hr.border {
    border: 2px solid $dark;
    margin-top: 15px;
    margin-bottom: 15px;

}

/* Header */

header {
    box-sizing: border-box;
    padding-left: 2rem;
    margin-left: -1rem;
    box-sizing: border-box;
    --height: 300px;
    --headerheight: 300px;
    background: url('/assets/img/header/bg.jpg') top center no-repeat;
    background-size: cover calc( var(--height) - 50%);

}

h1.site-title {
    font-size: 2.5em;
    line-height: 1em;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

p.site-description {
    padding: 0;
    line-height: 1em;
    text-align: center;
}

.wrapper header {
    margin-left: -2rem;
    margin-right: -1rem;
}

.header-img {
  max-width: 32px;
  display: block;
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* Footer */

footer p.footer-message {
    text-align: center;
    font-size: .7em;
    padding-top: .5em;
    padding-bottom: .5em;
}


/* Typography */

h1, h2, h3 {
    font-weight: 300;
    margin-top: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.2em;
}

i {
  font-weight: normal;
}

blockquote {
    border-left: 2px solid $dark;
    padding-left: 1rem;
    font-size: 1.5rem;
    height: auto;
}

h2.blog-title {
    font-size: 2.2em;
    padding: 0;
    margin: 5px 0 5px 0;
    color: $dark;
}

h2.blog-title a {
    color: $dark;
}

h1.blog-title {
    word-wrap: break-word;
    font-size: 3em;
    line-height: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h4.main-blog {
  margin: 0;
  padding: 0;
}

h2.page-title {
  text-align: center;
  padding: 40px 0;
}

h2.post-title {
  text-align: center;
  // padding: 10px 0;
  line-height: 1em;
  font-size: 1.5em;
  margin: 15px 0 0 0;
}

.post-info {
  text-align: center;
  margin: 0;
  padding: 0;
}

span.tag {
  background: #B9B9B9;
  padding: 5px;
  text-transform: lowercase;
  margin-right: 5px;
  line-height: 2.5em;
}

/* Paragraph */

p.first-paragraph {
    font-size: 1.5rem;
    margin-bottom: 0;
}


p.excerpt {
    margin: 0;
    padding: 0;
}

p.last-name {
    font-size: 5.4em;
    line-height: 1em;
    margin: 0;
    padding-top: 0;
    font-weight: 300;
}

.post p:first-child:first-line {
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: bold;
}

/* Lists */

ul.big {
    font-size: 1.5rem;
}

ul.checked {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
}

ul.checked li {
    margin-bottom: 25px;
}

/* Quetions */

dl.questions {
    background: #CBCBCB;
    max-width: 100%;
}

dl.questions dt {
    background: #ffffff url('/assets/img/plus.svg') right center no-repeat;
    background-size: 22px;
    background-origin: content-box;
    cursor: pointer;
    padding: 15px;
    border-bottom: 6px solid #E3E3E3;
    border-top: 6px solid #E3E3E3;
}

dl.questions dd {
    padding: 15px;
    background: #CBCBCB;
}

dl.questions .expanded_img {
  background: #ffffff url('/assets/img/minus.svg') right center no-repeat;
  background-size: 15px;
  background-origin: content-box;
  cursor: pointer;
}

.open {
  background: #F2D541;
  border: none;
  padding: 15px;
}

/* Pre and Code */

code {
    background: #E8E8E8;
    max-width: 60%;
    display: block;
    margin: 0 auto;
    padding: 1rem;
    white-space: pre-wrap;
}

/* Dictionary */

// dl {
//     max-width: 80%;
//     margin-left: 2rem;
// }

dt {
    font-weight: bold;
    font-size: 1.2rem;
}

dd {
    margin-bottom: 1rem;
}

/* Table */

table {
    width: 100%;
}

th {
    text-align: left;
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 10px;
}

td {
    padding: 15px;
    padding-top: 5px;
    padding-left: 0;
    padding-bottom: 0;
}

/* Typography Alignments */

.center {
    text-align: center;
}

/* Blog */

.post h2 {
    font-weight: bold;
}

.post h3 {
    font-style: italic;
}

/* Images */

img[align="left"] {
    margin-right: .7rem;
}

img[align="right"] {
    margin-left: .5rem; /* for firefox */
}

/* Progress */

.progress {
    min-height: 15px;
    width: 100%;
    background: $dark;
    clear: both;
    margin-bottom: 15px;
}

.progress-bar {
    min-height: 15px;
    background: #F2B33D;
    color: #0D0D0D;
    padding: 5px;
}

.progress-bar span {
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.nearly {
    width: 95%;
}

.almost {
    width: 80%;
}

.amateur {
    width: 75%;
}

.learning {
    width: 50%;
}

.dipped {
    width: 10%;
}

/* Links */

a {
    text-decoration: none;
    font-weight: 400;
    color: #F2D541;
}

a:hover {
    font-weight: bold;
    opacity: .5;
}

a:active {
    opacity: .5;
}

a:visited {
    color: #F2C641;
}

a.blog-btn {
  background:#545479;
  padding: 10px;
  border: none;
  color: #F2C641;
}


a:hover .blog-title {
    opacity: .5;
}

/* Grow */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Navigation */

.box-social {
  margin: 0;
  padding: 0;
}

.box-social img {
  width: 44%;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
}

ul.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0; 
  display: inline-block;
}

ul.social-list li {
  list-style-type: none;
}

.box-social .prof {
  width: 44%;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  position: relative;
  top: calc( var(--headerheight) - 211px);
  border: 12px solid white;
}

a.profile {
  border-radius: 100%;
  background: none;
  border: none;
}

[class^="icofont-"], [class*=" icofont-"] {
  color: #fff;
  background: #0d0d0d;
  padding: 10px;
  margin-right: 15px;
  border-radius: 100%;
}

.box-social [class^="icofont-"], [class*=" icofont-"] {
  background: #F2D541;
  border-radius: 100%;
  color: #0d0d0d;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.7em;
  text-align: center;
  border: 8px solid white;
  position: relative;
  top: calc( var(--headerheight) - 206px);
}

/* Row */

.row {
    box-sizing: border-box;
    display: flex;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -1rem;
    align-items: center;
//    justify-content: center;
}

/* Column XS */


div[class|="col-xs-"] {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.col-xs {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

/* Column XS Offset */

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

/* XS Position */

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

/* Column Small - For screens with a minimum width of 768px */

@media only screen and (min-width: 48em) {
    .highlight-box {
      position: relative;
      bottom: 0px;
    }

    div[class|="col-sm-"] {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    /* columns sm  */

    .col-sm {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .col-sm-1 {
        flex-basis: 8.333%;
        max-width: 8.333%;
      }

    .col-sm-2 {
        flex-basis: 16.667%;
        max-width: 16.667%;
    }

    .col-sm-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .col-sm-5 {
        flex-basis: 41.667%;
        max-width: 41.667%;
    }

    .col-sm-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex-basis: 58.333%;
        max-width: 58.333%;
    }

    .col-sm-8 {
        flex-basis: 66.667%;
        max-width: 66.667%;
    }

    .col-sm-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex-basis: 83.333%;
        max-width: 83.333%;
    }

    .col-sm-11 {
        flex-basis: 91.667%;
        max-width: 91.667%;
    }

    .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    /* SM Offset */

    .col-sm-offset-1 {
        margin-left: 8.333%;
    }

    .col-sm-offset-2 {
        margin-left: 16.667%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-4 {
        margin-left: 33.333%;
    }

    .col-sm-offset-5 {
        margin-left: 41.667%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-7 {
        margin-left: 58.333%;
    }

    .col-sm-offset-8 {
        margin-left: 66.667%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-10 {
        margin-left: 83.333%;
    }

    .col-sm-offset-11 {
        margin-left: 91.667%;
    }

    /* SM Position */

    .start-sm {
        justify-content: flex-start;
        text-align: start;
    }

    .center-sm {
        justify-content: center;
        text-align: center;
    }

    .end-sm {
        justify-content: flex-end;
        text-align: end;
    }

    .around-sm {
        justify-content: space-around;
    }

    .between-sm {
        justify-content: space-between;
    }

}

/* Column Medium - For screens with a minimum width of 992px */

@media only screen and (min-width: 62em){

  .highlight-box {
    position: relative;
    bottom: 0px;
  }
    div[class|="col-md-"] {
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }

    .col-md {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
        box-sizing: border-box;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
  }

  .col-md-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

    /* MD Offset */

    .col-md-offset-1 {
    margin-left: 8.333%;
  }

  .col-md-offset-2 {
    margin-left: 16.667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333%;
  }

  .col-md-offset-5 {
    margin-left: 41.667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333%;
  }

  .col-md-offset-8 {
    margin-left: 66.667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333%;
  }

  .col-md-offset-11 {
    margin-left: 91.667%;
  }

    /* MD Position */

    .start-md {
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    justify-content: center;
    text-align: center;
  }

  .end-md {
    justify-content: flex-end;
    text-align: end;
  }

  .around-md {
    justify-content: space-around;
  }

  .between-md {
    justify-content: space-between;
  }

}

/* Column Large - For screens with a minimum width of 1200px */

@media only screen and (min-width: 75em) {

  .highlight-box {
    position: relative;
    bottom: 0px;
  }
    /* LG Columns */

  div[class|="col-lg-"] {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .col-lg {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
      box-sizing: border-box;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  }

  .col-lg-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-lg-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-lg-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-lg-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-lg-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

    /* LG Offset */

  .col-lg-offset-1 {
    margin-left: 8.333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.667%;
  }

    /* LG Position */

  .start-lg {
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    justify-content: flex-end;
    text-align: end;
  }

  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    justify-content: space-between;
  }

}
