<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        
        {% include header.html %}
        
        <section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="box">
                        <div class="divide"></div>
                        <h1 class="blog-title">{{ page.title }}</h1>
                        <time>{{ page.date | date: "%b %-d, %Y" }}</time>
                        <div class="divide"></div>
                        {{ content }}
                        
                        <a onclick="window.history.back()">Back to Previous Page</a>
                        <div class="divide"></div>
                    </div>
                </div>
            </div>
        </section>
        
        
        {% include footer.html %}
        
    </body>
</html>